*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #1D2D44;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.photo{
    border-radius: 500px;
    margin: 100px;
    width: 200px;
    height: 200px;
}

header{
    background-color: #0D1321;
    height: 35px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    align-content: end;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.linkHeader{
    color: #F0EBD8;
    text-decoration: none;
    margin: 30px;
}

.linkHeader:hover{
    background-color: #F0EBD8;
    color: #0D1321;
    padding: 10px;
    font-size: 25px;
    border-radius: 8px;
    transition: 0.5s;
}

#divPrincipal{
    margin: 150px 500px 110px 500px;
    height: 400px;
    text-align: center;
}

#divProjects{
    padding-top: 50px;
    text-align: center;
    align-items: center;
    height: 700px;
    background-color: #F4F9E9;
}

.container{
    display: flex;
}

.project{
    padding: 30px;
    background-color: #FFFFF3;
    width: 350px;
    height: 350px;
    margin: 50px;
    border: 4px solid #0D1321;
    border-radius: 10px;
    align-items: center;
}

#divPhoto{
    border: 2px solid #868171;
    border-radius: 8px;
    display: flex;
    text-align: left;
    align-items: center;
    margin: 30px;
    height: 350px;
    width: 900px;
}

.aboutMe{
    font-size: 20px;
    margin: 30px 15px 30px 30px;
    color: #F0EBD8;
}

#divSkills{
    text-align: center;
    padding-top: 50px;
    text-align: center;
    align-items: center;
    height: 400px;
    background-color: #BCD0C7;
}

#divContact{
    text-align: center;
    padding-top: 50px;
    text-align: center;
    align-items: center;
    height: 800px;
}

footer{
    background-color: #748CAB;
    height: 30px;
    padding: 20px;
    text-align: center;
    color: white;
}

.imgProject{
    width: 200px;
    height: 200px; 
    margin: 40px;
}

.linkProject{
    text-decoration: none;
    background-color: grey;
    color: whitesmoke;
    font-weight: bold;
    padding: 7px;
    border-radius: 10px;
}

.linkProject:hover{
    background-color: #1D2D44;
    padding: 7px;
    color: #FFFFF3;
    border-radius: 10px;
    transition: .5s;
}
